<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block titulo %}{% endblock %} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap" rel="stylesheet">

</head>
<body>
    <nav>
            <div class="logo">a</div>
            <div class="resto">a</div>
    </nav>
    <div class="conteudo">
        {% block conteudo %}

        {% endblock %}
    </div>
</body>
</html>